.navbar-logo {
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40px; /* Adjust as needed */
    width: auto;
  }
  
  .nav-link {
    text-align: center;
    padding: 0.5rem 1rem;
    transition: font-size 0.3s, color 0.3s;
  }
  .nav-link:hover {
    color: #bac34e ;
    font-size: medium;
  }
  
  .navbar-nav {
    align-items: center;
  }
  
  .navbar-brand {
    position: relative;
    display: flex;
    align-items: center;
  }

  
  .navbar-brand span {
    position: relative;
    z-index: 1;
  }
  